<h1>Name Search</h1>

<%= render partial: 'name_form' %>
<hr>

<div id="search-results">
<% if @search.nil? %>
<% elsif @search.data.nil? %>
<% elsif @search.data.name_search.nil? %>
<% elsif @search.data.name_search.names.blank? %>
  No names found matching "<%= @search_term %>".
<% else %>
  <%= pluralize(@search.data.name_search.names.size,'name') %>
  found for "<%= @search_term %>"
  <% elapsed = Time.now - @start_time %>(<%= elapsed %>s)
  <hr>
  <ul class="plain">
  <% @search.data.name_search.names.each do |name| %>
    <li>[family]
      <%= name.full_name %>
      <%= name.name_status_name unless name.name_status_name.nil? ||
                                       name.name_status_name == 'legitimate' ||
                                       name.name_status_name.match(/\[/) %>
    <% if @show_details %>
    <p>
      <ul class="plain indent3">
        <% name.name_history.name_usages.each do |usage| %>
          <% if usage.misapplied %>
            <li><%= usage.citation %><%= "[#{usage.instance_type_name}]" %>
            <ul class="plain indent3 synonyms">
            <li>misapplied to: <%= usage.misapplied_to_name %>
            </ul>
            <%#= "<pre>#{usage.to_yaml}</pre>".html_safe if usage.instance_type_name == 'misapplied' %>
          <% else %>
            <li><%= usage.citation %>: <%= usage.page || '-' %>
            <%= "[#{usage.instance_type_name}]" if usage.primary_instance %>
          <% end %>
          <ul class="plain indent3 synonyms">
          <% usage.synonyms.each do |synonym| %>
            <li><span class="synonym-type"><%= synonym.label %>:</span>
              <%= synonym.full_name %><%= ": #{synonym.page}" unless synonym.page.blank? %>
          <% end %>
          </ul>
        <% end %>
      </ul>
    </p>
    <% end %>
  <% end %>
  </ul>
  <hr>
  <% elapsed = Time.now - @start_time %>
  <%= elapsed %> seconds (~<%= (@search.data.name_search.names.size/elapsed).round %> records/second) (index.html)

<pre>
<%= simple_format @search.to_yaml %>
</pre>
<% end %>
</div>
